<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.astroworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconwithname"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconwithname"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Registration" />
        <activity android:name=".RegistrationUser" />
        <activity
            android:name=".UserMain"
            android:label="@string/title_activity_user_main"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AstrologerMain"
            android:label="@string/title_activity_astrologer_main"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>